name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-windows-x86:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW32

      - name: Install dependencies
        shell: msys2 {0}
        run: pacman --noconfirm -S mingw-w64-i686-SDL2 mingw-w64-i686-gcc mingw-w64-i686-tools make python3 unzip

      - name: Generate libClassiCube.a
        shell: msys2 {0}
        run: |
          wget https://cdn.classicube.net/client/release/win32/ClassiCube.zip
          unzip -j ClassiCube.zip ClassiCube/ClassiCube.exe
          gendef ClassiCube.exe
          dlltool -d ClassiCube.def -l libClassiCube.a -D ClassiCube.exe

      - name: Compile debug and release
        shell: msys2 {0}
        run: |
          mkdir lib lib/debug lib/release
          make
          cp dist/Classic64.dll lib/debug
          make clean
          make release
          cp dist/Classic64.dll lib/release
          

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v4
        with:
          name: classic64-windows-x86
          path: lib


  build-windows-x64:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64

      - name: Install dependencies
        shell: msys2 {0}
        run: pacman --noconfirm -S mingw-w64-x86_64-SDL2 mingw-w64-x86_64-gcc mingw-w64-x86_64-tools make python3 unzip

      - name: Generate libClassiCube.a
        shell: msys2 {0}
        run: |
          wget https://cdn.classicube.net/client/release/win64/ClassiCube.zip
          unzip -j ClassiCube.zip ClassiCube/ClassiCube.exe
          gendef ClassiCube.exe
          dlltool -d ClassiCube.def -l libClassiCube.a -D ClassiCube.exe

      - name: Compile debug and release
        shell: msys2 {0}
        run: |
          mkdir lib lib/debug lib/release
          make
          cp dist/Classic64.dll lib/debug
          make clean
          make release
          cp dist/Classic64.dll lib/release

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v4
        with:
          name: classic64-windows-x64
          path: lib


  build-ubuntu-x64:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install dependencies libsdl2-dev
        run: sudo apt-get install -y libsdl2-dev

      - name: Compile debug and release
        run: |
          mkdir lib lib/debug lib/release
          make
          cp dist/libClassic64.so lib/debug
          make clean
          make release
          cp dist/libClassic64.so lib/release

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v4
        with:
          name: classic64-ubuntu-x64
          path: lib

  build-fedora-x64:
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      - name: Install git
        run: sudo dnf install git -y

      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Compile SDL2
        run: |
          git clone https://github.com/libsdl-org/SDL --branch SDL2
          cd SDL
          ./configure
          make
          sudo make install

      - name: Compile debug and release
        run: |
          mkdir lib lib/debug lib/release
          make
          cp dist/libClassic64.so lib/debug
          make clean
          make release
          cp dist/libClassic64.so lib/release

      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v4
        with:
          name: classic64-fedora-x64
          path: lib
